<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.media" android:versionCode="19" android:versionName="4.4.2-4.7.4" package="com.android.providers.downloads"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:label="@string/permlab_downloadManager" android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" android:protectionLevel="signatureOrSystem" android:description="@string/permdesc_downloadManager" />
    <permission android:label="@string/permlab_downloadManagerAdvanced" android:name="android.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" android:protectionLevel="signatureOrSystem" android:description="@string/permdesc_downloadManagerAdvanced" />
    <permission android:label="@string/permlab_downloadCompletedIntent" android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" android:protectionLevel="signature" android:description="@string/permdesc_downloadCompletedIntent" />
    <permission android:label="@string/permlab_downloadCacheNonPurgeable" android:name="android.permission.DOWNLOAD_CACHE_NON_PURGEABLE" android:protectionLevel="signatureOrSystem" android:description="@string/permdesc_downloadCacheNonPurgeable" />
    <permission android:label="@string/permlab_downloadWithoutNotification" android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" android:protectionLevel="normal" android:permissionGroup="android.permission-group.NETWORK" android:description="@string/permdesc_downloadWithoutNotification" />
    <permission android:label="@string/permlab_accessAllDownloads" android:name="android.permission.ACCESS_ALL_DOWNLOADS" android:protectionLevel="signature" android:description="@string/permdesc_accessAllDownloads" />
    <permission android:name="com.android.providers.downloads.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
    <uses-permission android:name="android.permission.MODIFY_NETWORK_ACCOUNTING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.providers.downloads.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application android:theme="@miui:style/V5.Theme" android:label="@string/app_label" android:icon="@mipmap/ic_launcher_download" android:name="com.android.providers.downloads.DownloadApplication" android:debuggable="false" android:process="android.process.media">
        <provider android:name=".DownloadProvider" android:authorities="downloads">
            <path-permission android:permission="android.permission.INTERNET" android:pathPrefix="/my_downloads" />
            <path-permission android:permission="android.permission.ACCESS_ALL_DOWNLOADS" android:pathPrefix="/all_downloads" />
            <path-permission android:permission="android.permission.ACCESS_ALL_DOWNLOADS" android:pathPrefix="/download_bytes_limit_over_mobile" />
            <path-permission android:permission="android.permission.INTERNET" android:pathPrefix="/download" />
            <grant-uri-permission android:pathPrefix="/all_downloads/" />
        </provider>
        <service android:name=".DownloadService" android:permission="android.permission.ACCESS_DOWNLOAD_MANAGER" />
        <service android:name="com.xiaomi.push.service.XMPushService" android:enabled="true" />
        <service android:name="com.xiaomi.mipush.sdk.PushMessageHandler" android:enabled="true" android:exported="true" />
        <receiver android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.xiaomi.push.service.receivers.PingReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.providers.downloads.DownloadPushMessageReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <service android:name="com.xunlei.downloadplatforms.XLDownloadService" android:permission="android.permission.ACCESS_DOWNLOAD_MANAGER" />
        <receiver android:name=".DownloadReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".DownloadUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.OPERATE_DOWNLOADSET_UPDATE_PROGRESS" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Translucent" android:name=".SizeLimitActivity" android:exported="true" android:launchMode="singleTask" />
        <meta-data android:name="xunlei_api_key" android:value="03d1aec1afc85dac75485f7eb8e424b3-20130823-163041-02-0001" />
    </application>
</manifest>